<nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent; padding: 20px 0; position: absolute; top: 0; left: 0; right: 0;">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <a class="btn btn-success text-white" href="/zodiacsign" style="margin-right: 20px;">Zodiac Signs</a>
            <a class="btn btn-success text-white" href="/feedbackform" style="margin-right: 20px;">Feedback Form</a>
            <h1 style="color: #ff5ec3; font-size: 2rem; margin: 0;">Predict Your Future</h1>
            <a class="btn btn-success text-white" href="/horoscope" style="margin-right: 20px;">Horoscope</a>
            <a class="btn btn-success text-white" href="/changepassword" style="margin-right: 20px;">Change Password</a>
            <a class="btn btn-success text-white" href="/">Logout</a>
        </div>
    </div>
</nav>
<style>
    body {
        background-image: url('https://5.imimg.com/data5/SELLER/Default/2020/9/SB/CV/UU/3320247/best-astrologer-om-mansarovar-500x500.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
</style>
